In [9]:
import numpy as np
import pandas as pd

In [11]:
from numpy.random import randn

In [2]:
#Index Levels
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [6]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [7]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [12]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [13]:
df

             A         B
G1 1 -1.148510 -0.100457
   2 -1.536413  0.386750
   3  1.280003  0.098518
G2 1  0.244698  3.349251
   2 -0.783645  0.840271
   3 -1.321721 -0.324092

In [14]:
df.loc['G1']

          A         B
1 -1.148510 -0.100457
2 -1.536413  0.386750
3  1.280003  0.098518

In [15]:
df.loc['G1'].loc[1]

A   -1.148510
B   -0.100457
Name: 1, dtype: float64

In [16]:
df.index.names

FrozenList([None, None])

In [17]:
df.index.names=['Groups','Num']

In [18]:
df

                   A         B
Groups Num
G1     1   -1.148510 -0.100457
       2   -1.536413  0.386750
       3    1.280003  0.098518
G2     1    0.244698  3.349251
       2   -0.783645  0.840271
       3   -1.321721 -0.324092

In [24]:
#grab 1.280003
df.loc['G1'].loc[3]['A']

1.2800026752107192

In [21]:
#grab 0.840271
df.loc['G2'].loc[2]['B']

0.8402711145891566

In [29]:
#cross-section of Num 1 index
df.xs(1,level='Num')

               A         B
Groups
G1     -1.148510 -0.100457
G2      0.244698  3.349251